:root{
    --gold:#EA982A
}

body{
    padding: 30px;
    overflow-x:hidden;
    background-image:url(/files/viking-background.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center;
}

.game-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

.game-content {
    padding: 20px;
}

button {
    background-color:var(--gold);
    border-radius:10px;
    border:0px;
    padding:10px 20px;
    color: hsl(16, 31%, 17%);
    text-align: center;
    font-family: MedievalSharp;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

button.letter { 
    width: 101px;
    height: 101px;
    flex-shrink: 0;
    box-shadow: 0px 4px 4px 4px hsla(0, 0%, 0%, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;

}
.letter-clicked {
    background: hsl(16, 31%, 17%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: hsl(0, 0%, 80%);
    font-size: 48px;
}

#letter-buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#word-input {
    border-radius: 10px;
    background: hsl(34, 82%, 54%);
    box-shadow: 0px 4px 4px 4px hsla(0, 0%, 0%, 0.25);
    width: 70vw;
    height: 50px;    
    color: hsl(16, 31%, 17%);
    text-align: center;
    font-family: MedievalSharp;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* ********** INTRO PAGE ********** */

.hidden {
    visibility: hidden;
  }

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

.intro-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 50px; 
}


.intro-page {
    order: 2; 
}

.logo, .intro-button {
    margin-bottom: 50px;
}


/* ***** MAIN GAME PAGE ***** */

/* *** INDICATORS *** */
.indicators, .game-buttons {
    display: flex;
    justify-content: space-between;
  }
  
.level, .life {
    flex: 1;
    text-align: center;
    font-family: MedievalSharp;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

.level {
    padding-right: 60vw; 
  }